.bg-white {
	-fx-background-color: white;
}

.btn {
    -fx-padding: 10 15 10 15;
    -fx-background-insets: 0,0 0 5 0, 0 0 6 0, 0 0 7 0;
    -fx-background-color: #6747ce;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-font-size: 1.1em;
}

.radio-button:selected .radio .dot {
    -fx-background-color: #6747ce;
    -fx-background-insets: 0;
}

.check-box .box {
	-fx-background-color: white;
	-fx-border-color:grey;
	-fx-border-radius:3px; 
}

.check-box:selected .mark {
	-fx-background-color: white;
}

.check-box:selected .box {
	-fx-background-color: #6747ce;
}